@{
    ViewBag.Title = "Home Page";
}
<div class="row">

    <div class="col-md-12 text-center welcome-container">
        <div>
            <h1 class="welcome-statement">Welcome to the S.I.M.S</h1>
            <p>This Simple Inventory Management System will allow you to manage your inventory</p>
        </div>
    </div>

    <div class="col-md-12 text-center">
        <img src="~/images/smiley.jpg" height="500" width="500" />
        <div  class="instruction-container">
            <h2 class="instructions-header">How To Use:</h2>
            <ol>
                <li>Register or Login</li>
                <li>Once you are logged in Manage Inventory will appear in the sidebar in place of Home</li>
                <li>Go to manage inventory and being creating and maintaining your inventory</li>
            </ol>
            
        </div>
    </div>

</div>